* {
    font-family: 'Times New Roman', Arial, sans-serif;
}


a {
    text-decoration: none;
    color: black;
}

.header {
    padding: 15px;
}

.header h1 {
    font-size: 2.5rem;
}

.navbar img,a {
    display: inline-block;
    margin-right: 40px;
}

.navbar a {
    font-size: 1.3rem;
}

.break-line {
    height: 10px;
    background-color: rgb(253, 253, 103);
}

.recipes h2{
    padding-left: 40px;
    font-size: 2rem;
}

.list {
    list-style: none;
    font-size: 1.5rem;
}